@import '../../../assets/base';

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        width: 25%;
        height: 4rem;
        border-right: 1px solid $palette3;
        color: $palette3;
        padding: .3rem;
    }
    &__list:last-child {
        border-right-width: 0px;
    }
}

@media (width > $layout-breakpoint-small) {
    .menu__list {
        border: none;
        margin: .3em;
    }
}