@import '../assets/styles/base';

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $palette2;
    h1 {
        font-weight: bold;
        font-size: larger;
        font-size: 1.5em;
        padding: 1rem 0;        
    }
    p {
        padding-bottom: 1rem;
    }
}


.app{    
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    .navbar{
        height: 167px;
        width: 100%;
        position: fixed;
        z-index: 1000;
        opacity: .95;
    }
    .content{
        max-height: calc(100vh - 167px);
        margin-top: 167px;
        overflow: scroll;
    }
}

@media (width >  635px) {
    .app{
        .navbar{
            height: 156px;
        }
        .content{
            max-height: calc(100vh - 156px);
            margin-top: 156px;
        }
    }
}

@media (width >  $layout-breakpoint-medium) {
    .app{
        .navbar{
            height: 164px;
        }
        .content{
            max-height: calc(100vh - 164px);
            margin-top: 164px;
        }
        
    }
}