@import '../../assets/styles/base';

.pageContainer {
    min-height: calc(100vh - 168px + 2rem);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: $palette3;
    z-index: 100;
    & h1 {
        padding-top: 167px;
        color: $palette2;
    }

    & p {
        color: $palette2;
        padding: 0 2rem 2rem;
        text-align: justify;
    }
}

@media (width > 635px) {
    .pageContainer{
        & h1{
            padding-top: 0;
        }
    }
}

@media (width > $layout-breakpoint-large) {
    .pageContainer{
        & h1{
            font-size: 2.5rem;
        }
        & p{
            font-size:1.5rem;
            padding: 2rem 15rem;
        }
    }
}