@import '../../assets/styles/base';

.pageContainer {
    height: calc(100vh - 10.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .cardContainer {
        width:70%;
        height: 80%;;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (width > $layout-breakpoint-large) {
    .cardContainer {
        font-size: 1.25rem;        
        img{
            height: 15rem;
        }
    }
}

@media (width > $layout-breakpoint-extra-large) {
    .cardContainer {
        width: 50%;
        height: 60%;
    }
}