
/* SCSS RGB */
$palette1: rgba(15, 66, 153, 1); //dark-cornflower-blue
$palette2: rgba(54, 58, 64, 1); //onyx
$palette3: rgba(216, 221, 230, 1); //gainsboro
$palette4: rgba(85, 114, 166, 1); //blue-yonder
$palette5: rgba(35, 42, 54, 1); //gunmetal
$palette6: #11b8c6;
$palette7: #5a14d2;
$palette8: #478656;
$palette9: #c5e8f6;


/* MEDIA QUERIES INTERVALS */
$layout-breakpoint-extra-small: 361px;
$layout-breakpoint-small: 576px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 992px;
$layout-breakpoint-extra-large: 1200px;